{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">

            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% else %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>

    </div>
</div>




<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="main_gray logo_center" >
                <a href="{% url 'home' %}"><img class="logo" src="/media/logo.jpg" alt="vo1uble.mang0"></a>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="main_gray">
                <p> Регистрация на проект "vo1uble.mang0 Dev Base" (База знаний) закрыта, но вы можете отправить
                    свой запрос на доступ к базе через форму:</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">


            <div class="main_gray">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-block">Отправить запрос</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>